:root {
  --mainColor: #333333;
  --orange: #FF9900;
  --sublh: 1.2;
}

body {
  margin: 0;

  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: var(--mainColor);
  font-weight: 400;
  line-height: 1.3;

  background-color: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;

  list-style: none;
}

.container {
  width: 100%;
  max-width: 1920px;
  padding: 0 75px;
  margin: 0 auto;
}

.section {
  padding-top: 104px;
}

.section__title {
  margin-bottom: 20px;

  font-weight: 400;
  font-size: 48px;
  line-height: var(--sublh);
}

.section__description {
  max-width: 70%;
  line-height: 2;
}

.article__title {
  margin-bottom: 5px;

  font-size: 24px;
  font-weight: 700;
  line-height: var(--sublh);
}

.article__description {
  line-height: 2;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link,
.icon-link {
  display: inline-block;
  font-size: 18px;
  line-height: var(--sublh);
  font-weight: 600;
  color: var(--mainColor);
  text-decoration: none;

  transition: transform .1s linear, color .1s linear;
}

.icon-link {
  font-size: 0;
  line-height: 1;
  color: transparent;
}

.link.link--mobile {
  display: none;
}

.link:focus,
.icon-link:focus {
  outline: none;

  transform: scale(1.04);
}

.btn {
  display: inline-block;
  padding: 25px 37px;
  border: none;

  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  
  background: none;
  cursor: pointer;
}

.btn--orange {
  background-color: var(--orange);
  transition: background-color .1s linear;
}

.btn--orange:hover,
.btn--orange:focus {
  background-color: rgba(255, 153, 0, .6);
  outline: none;
}

.btn--small {
  height: 100%;
  max-height: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 38px;
  padding-right: 38px;

  font-size: 16px;
}

.btn--long {
  padding-right: 52px;
  padding-left: 52px;
}

.tool-tip {
  width: 16px;
  height: 16px;
}

.package {
  width: 119px;
  height: 132px;

  fill: none;
}

.settings {
  width: 127px;
  height: 127px;

  fill: none;
}


/* Swiper */
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 10px;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  border: 1px solid rgba(255, 255, 255, 0);
  
  background: rgba(255, 255, 255, .4);
  
  transition: border .1s linear;
}

.swiper-pagination-bullet-active {
  background: rgba(255, 255, 255, 1);
}

.swiper-pagination-bullet:hover {
  border: 1px solid rgba(255, 255, 255, 1);
}


/* Header */
.header {
  height: 100px;

  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}

.header__container {
  height: 100%;

  display: flex;
  align-items: center;
}

.header__nav {
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-list {
  display: flex;
}

.header-list,
.btn-search {
  transform: translate(1px, 4px);
}

.header-list__item:not(:last-child) {
  margin-right: 85px;
}

.header-list__link {
  position: relative;
}

.header-list__link::after {
  display: block;
  content: "";
  width: 100%;
  height: 2px;

  opacity: 0;
  background-color: var(--orange);

  position: absolute;

  transition: opacity .1s linear;
}

.header-list__link:focus {
  outline: none;
}

.header-list__link:hover::after,
.header-list__link:focus::after {
  opacity: 1;
}

.btn-search {
  margin-left: 71px;
  padding: 0 13px 0 0;
  border: none;

  cursor: pointer;
  background-color: #fff;
}

.search-rect {
  transition: fill .1s linear;
}

.btn-search:focus {
  outline: none;
}

.btn-search:hover .search-rect,
.btn-search:focus .search-rect {
  fill: #FF9900;
}

.search-circle {
  transition: stroke .1s linear;
}

.btn-search:hover .search-circle,
.btn-search:focus .search-circle {
  stroke: #FF9900;
}

.search-icon {
  width: 26px;
  height: 26px;

  fill: none;
}

.burger-item {
  display: none;
}

.burger-menu--closed,
.burger-menu {
  display: none;
  padding: 0;
  border: 0;
  cursor: pointer;
  /* padding-top: 15px; */
  /* padding-bottom: 15px; */

  background: none;
}

.burger-menu.is-active {
  padding-right: 5px;
}


.burger-menu--closed:focus,
.burger-menu--closed:active,
.burger-menu:focus,
.burger-menu:active {
  outline: none;
}

.menu-closed__item,
.burger-menu__item {
  display: block;
  width: 30px;
  height: 3px;

  font-size: 0;
  color: transparent;

  background: var(--mainColor);

  position: relative;
}

.menu-closed__item {
  transform: rotate(45deg);
}

.burger-menu--closed:focus .menu-closed__item,
.burger-menu:focus .burger-menu__item {
  background: var(--orange);
}

.burger-menu.is-active .burger-menu__item {
  width: 25px;
}

.menu-closed__item::after,
.burger-menu__item::before,
.burger-menu__item::after {
  content: "";
  width: 30px;
  height: 100%;

  background: inherit;

  position: absolute;
  top: -10px;
  left: 0;
  z-index: 1;
}

.menu-closed__item::after {
  top: 0;
  transform: rotate(-90deg);
}

.burger-menu__item::after {
  top: 10px;
}

.burger-menu.is-active .burger-menu__item::after {
  width: 18px;
}


/* Intro */
.intro {
  display: flex;
  align-items: center;
  height: 620px;

  background-image: url(../images/low-angle-photo-of-balconies-2462015-1.jpg);
  background-image: 
    -webkit-image-set(
      url(../images/low-angle-photo-of-balconies-2462015-1.jpg) 1x,
      url(../images/low-angle-photo-of-balconies-2462015-2.jpg) 2x
    );
  background-repeat: no-repeat;
  background-size: cover;
}

.intro-2 {
  background-image: url(assets/images/brown-and-blue-glass-building-2093076-1.jpg); 
  background-image: 
    -webkit-image-set(
      url(../images/brown-and-blue-glass-building-2093076-1.jpg) 1x,
      url(../images/brown-and-blue-glass-building-2093076-2.jpg) 2x
    );
}

.intro-3 {
  background-image: url(assets/images/apartment-apartment-building-architecture-building-323705-1.jpg); 
  background-image: 
    -webkit-image-set(
      url(../images/apartment-apartment-building-architecture-building-323705-1.jpg) 1x,
      url(../images/apartment-apartment-building-architecture-building-323705-2.jpg) 2x
    );
}

.intro__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.intro__content {
  width: 50%;

  position: relative;
  left: 4.5%;
  top: 1.3%;
}

.intro__title {
  margin-bottom: 23px;

  font-weight: 800;
  font-size: 70px;
  line-height: var(--sublh);
  color: #fff;
}

.intro__description {
  font-weight: 700;
  font-size: 23px;
  color: #fff;
}

.intro-content__btn {
  width: 280px;
  margin-top: 97px;
}

.slick-slide {
  margin: 0 10px;
}

.slick-slide__control {
  width: 15px;
  height: 15px;
  padding: 0;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 50%;

  font-size: 0;
  color: transparent;

  cursor: pointer;
  background: rgba(255, 255, 255, .1);
}

.slick-slide__control:hover {
  border: 1px solid rgba(255, 255, 255, 1);
}

.slick-slide__control:active,
.slick-slide__control:focus {
  background: rgba(255, 255, 255, 1);
  outline: none;
}


/* About */
.about {
  margin-top: 44px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about__slider {
  display: flex;
  align-items: flex-end;
  width: 49.1%;

  background-image: url(../images/Rectangle2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.about-slider__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.about-slider__footer {
  display: flex;
  align-items: center;
  padding: 37px 68px 42px 54px;
  width: 100%;

  background: rgba(0, 0, 0, .5);
  backdrop-filter: blur(1px);
}

.about-slider__footer.mobile {
  display: none;
}

.about-footer__description {
  color: #fff;
  font-weight: 700;
  line-height: 2;
}

.about-footer__btn {
  padding: 17px 35px;
  margin-left: 74px;
  border: 3px solid var(--orange);

  transition: background-color .1s linear, color .1s linear;
}

.about-footer__btn:hover,
.about-footer__btn:focus {
  background-color: var(--orange);
  outline: none;
}

.about__content {
  width: 49%;
  display: flex;
  flex-direction: column;
}

.about-article {
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding-top: 67px;
  padding-right: 100px;
  padding-bottom: 66px;
  padding-left: 60px;
  border: 1px solid #CACACA;
}

.about-article:first-child {
  margin-bottom: 30px;
}

.about-article__logo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  
  background-color: var(--orange);
}

.about-article__logo .package {
  position: relative;
  top: -15%;
  left: 50%;
}

.about-article__logo .settings {
  position: relative;
  top: -25%;
  left: 40%;
}

.about-article__content {
  margin-left: 117px;
}


/* Work */
.work {
  display: flex;
  flex-direction: column;
}

.work__list {
  display: flex;
  width: fit-content;
  margin-bottom: 58px;
}

.work-list__item:not(:last-child) {
  margin-right: 89px;
}

.work-list__btn {
  border: none;
  padding: 0;
  padding-top: 27px;

  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: var(--sublh);
  font-weight: 400;
  color: var(--mainColor);

  cursor: pointer;
  background: none;

  transition: color .1s linear;
}

.work-list__btn:hover,
.work-list__btn:focus {
  color: var(--orange);

  outline: none;
}

.work__inner {
  display: flex;
  justify-content: space-between;
}

.work-inner__content {
  width: 49%;
  display: flex;
  flex-direction: column;
}

.work-inner__title {
  margin-bottom: 0;

  transform: translate(2px, -4px);

  line-height: 1;
}

.work-inner__description {
  width: 88%;
}

.work-inner__control {
  margin-top: auto;
  display: flex;
}

.work-inner__btn {
  margin-left: 31px;
  padding: 19px 37px;
  border: 1px solid var(--mainColor);

  font-weight: 400;
  color: var(--mainColor);

  transition: background-color .1s linear, color .1s linear;
}

.work-inner__btn:hover,
.work-inner__btn:focus {
  color: #fff;

  background-color: var(--mainColor);
  outline: none;
}

.work-inner__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* Faq */
.section.section-faq {
  padding-top: 101px;
}

.section-faq {
  padding-bottom: 98px;
}

.faq__list {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  border-top: 1px solid #CACACA;;
}

.faq-list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;

  border-bottom: 1px solid #CACACA;
}

.faq-list__link {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 24px;

  transform: translate(4px, -3px);
}

.faq-list__link:hover,
.faq-list__link:focus {
  color: var(--orange);

  outline: none;
}

.btn-plus {
  padding: 0;
  border: none;

  cursor: pointer;
  background: none;
}

.btn-plus:focus {
  outline: none;
}

.plus-icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;

  background-color: #ECECEC;

  position: relative;

  transition: background-color .1s linear;
}

.plus-icon::before,
.plus-icon::after {
  content: "";
  width: 1px;
  height: 31px;

  background-color: #666666;

  position: absolute;
  top: 50%;
  left: 50%;

  transition: background-color .1s linear, transform .1s linear;
}

.plus-icon::before {
  transform: translate(-50%, -50%) rotate(90deg);
}

.plus-icon::after {
  transform: translate(-50%, -50%);
}

.btn-plus:hover .plus-icon,
.btn-plus:focus .plus-icon {
  background-color: #D2D2D2;
}

.btn-plus:hover .plus-icon::before,
.btn-plus:focus .plus-icon::before,
.btn-plus:hover .plus-icon::after,
.btn-plus:focus .plus-icon::after {
  background-color: #fff;
}

.faq-list__content {
  margin-bottom: 40px;

  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: var(--mainColor);
  font-weight: 400;
  line-height: 2;
}

/* Accordion */
.accordion .ui-accordion-header {
  display: flex;
  padding-left: 0;
  padding-right: 0;
  padding-top: 30px;
  padding-bottom: 27px;
  border: none;
  border-bottom: 1px solid #CACACA;

  background: none;
  outline: none;
}

.accordion .ui-accordion-header-active {
  border: none;
}

.accordion .ui-accordion-content {
  padding: 0;
  border: none;
  border-bottom: 1px solid #CACACA;
}

.ui-accordion-header.ui-state-focus a {
  color: var(--orange);
}

.ui-accordion-header-active.ui-state-active a {
  color: var(--mainColor);
}

.ui-accordion-header-active.ui-state-active .plus-icon {
  background-color: #ECECEC;
}

.ui-accordion-header-active.ui-state-active .plus-icon::before,
.ui-accordion-header-active.ui-state-active .plus-icon::after {
  background-color: #666666;
}

.ui-accordion-header-active.ui-state-active .plus-icon::before {
    transform: translate(-50%, -50%) rotate(135deg);
}

.ui-accordion-header-active.ui-state-active .plus-icon::after {
  transform: translate(-50%, -50%) rotate(45deg);
}


/* Footer */
.footer {
  background-color: #222222;
}

.container-footer {
  display: flex;
  padding-top: 49px;
  padding-bottom: 80px;
  justify-content: space-between;
}

.footer__col {
  display: flex;
  flex-direction: column;
}

.footer__col-nav {
  width: 20%;
}

.footer__col-form {
  padding-top: 13px;
}

.footer__col.footer__col-desc {
  width: 20%;
  align-self: center;

  transform: translate(-2%, -4%);
}

.footer-col__description {
  line-height: 2;
  color: #CACACA;
}

.footer-col__social {
  display: flex;
  margin-top: auto;
}

.footer-col__social.footer-col__social--mobile {
  display: none;
}

.footer-col__link:not(:last-child) {
  margin-right: 25px;
}

.footer-col__icon {
  width: 60px;
  height: 60px;

  fill: none;
}

.footer-col__title {
  margin-bottom: 30px;

  font-size: 48px;
  font-weight: 400;
  color: #CACACA;
  line-height: 1;
}

.form__group {
  margin-bottom: 24px;
}

.form__input,
.form__textarea {
  width: 100%;
  padding: 14px 24px;
  border: none;

  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 2;
  color: #CACACA;

  background-color: #414141;

  transition: background-color .1s linear;
}

.form__input:focus,
.form__textarea:focus {
  outline: none;

  background-color: #575757;
}

.form__textarea  {
  resize: none;
}

.form__control {
  display: flex;
  align-items: center;
}

.form-control__group {
  display: flex;
  align-items: center;
  padding-left: 20px;
  margin-left: 30px;

  position: relative;
}

.form-control__label {  
  display: flex;
  align-items: center;
}

.form-control__checkbox {
  margin: 0;

  opacity: 0;

  position: absolute;
  left: 0;
}

.form-control__label,
.form__input::placeholder,
.form__textarea::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 2;
  color: #CACACA;
}

.form-control__label::before {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  border: 1px solid #CACACA;

  position: absolute;
  left: 0;
}

.form-control__label::after {
  content: "";
  display: inline-block;
  width: 5px;
  height: 9px;
  border: solid#97EE3F;
  border-width: 0 3px 3px 0;

  opacity: 0;
  transform: rotate(45deg);

  position: absolute;
  left: 5px;
}

.form-control__checkbox:focus + .form-control__label::before {
  background-color: #414141;
}

.form-control__checkbox:checked + .form-control__label::after {
  opacity: 1;
}

.footer-nav__link {
  margin-bottom: 20px;
}

.footer-col__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-list__item {
  margin-bottom: 15px;
}

.footer-list__link {
  color: #CACACA;

  transition: color .1s linear;
}

.footer-list__link:hover,
.footer-list__link:focus {
  color: var(--orange);
}


/* Media */
@media (max-width: 1459px) {

  /* Footer */
  .footer__col-form {
    padding-top: 0;
  }

  .footer__col.footer__col-desc {
    transform: initial;
  }
}

@media (max-width: 1408px) {
  
  /* Header */
  .header-list__item:not(:last-child) {
    margin-right: 40px;
  }

  /* Intro */
  .intro__title {
    font-size: 60px;
  }

  /* About */
  .section__description {
    max-width: 100%;
  }

  .about__slider {
    width: 100%;
    height: 650px;
    margin-bottom: 40px;
  }

  .about__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 0;
  }

  .about-article:first-child {
    margin-bottom: 40px;
  }
}

@media (max-width: 1258px) {

  /* Intro */
  .intro__content {
    width: 84%;
  }

  .intro__description {
    font-size: 20px;
  }

  /* Work */
  .work-inner__photo {
    margin-left: 50px;
  }

  /* Footer */
  .footer__col-nav {
    width: initial;
    align-items: flex-start;
    justify-content: space-between;
  }

  .footer__col.footer__col--mobile {
    display: none;
  }

  .link.link--mobile {
    display: inline-block;
  }

  .footer-col__social.footer-col__social--mobile {
    display: block;
    margin-top: 0;
  }

  .footer-list__item {
    margin-bottom: 15px;
  }

  .form-control__btn.btn--long {
    padding-left: 38px;
    padding-right: 38px;
  }
}

@media (max-width: 1024px) {

  .container {
    padding: 0 50px;
  }

  .header__container {
    justify-content: space-between;

    position: relative;
  }

  .container-footer {
    padding-top: 47px;
    padding-bottom: 80px;
  }

  .section {
    padding-top: 58px;
  }

  /* Header */
  .burger-menu--closed,
  .burger-menu {
    display: block;
  }

  .burger-item {
    display: flex;
  }

  .header__nav {
    display: none;
    max-width: 420px;
    width: 100%;
    height: auto;
    padding-left: 50px;
    
    background-color: #fff;
    box-shadow: 0 5px 40px rgba(0, 0, 0, .1);

    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
  }

  .header__nav.show {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .header-list {
    flex-direction: column;
    padding-top: 55px;
    padding-left: 20px;

    transform: none;
  }

  .header-list__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 65px;
  }

  .header-list__link {
    font-size: 24px;
    font-weight: 700;
  }

  .btn-search {
    margin-left: 0;
    padding: 0;
  }

  /* Intro */
  .intro {
    height: 668px;
    overflow: hidden;

    background-image: url(../images/low-angle-photo-of-balconies-2462015-1024w-1x.jpg);
    background-position-y: 100%;
  }

  .intro__content {
    left: 4.8%;
    top: 3.5%;
  }

  .intro__title {
    margin-bottom: 10px;
  }

  .intro-content__btn {
    width: 287px;
    margin-top: 110px;
  }

  /* About */
  .section__title {
    margin-bottom: 28px;
  }

  .about {
    margin-top: 59px;
  }

  .about__slider {
    height: 640px;
    margin-bottom: 50px;

    background-image: url(../images/Rectangle2-1024w.jpg);
  }

  .about-slider__footer {
    padding: 37px 50px 40px 44px;
  }

  .about-footer__btn {
    margin-left: 147px;
  }

  .about-article {
    padding-left: 111px;
  }

  /* Work */
  .work__list {
    margin-bottom: 49px;
  }

  .work-list__item:not(:last-child) {
    margin-right: 89px;
  }

  .work-list__btn {
    padding-top: 22px;
  }

  .work-inner__photo {
    max-width: 437px;
    padding-top: 7px;
  }

  .work-inner__title {
    margin-bottom: 7px;

    transform: initial;
  }

  .work-inner__description {
    width: 100%;
  }

  .work-inner__control {
    margin-top: 30px;
  }

  /* Faq */
  .section.section-faq {
    padding-top: 58px;
    padding-bottom: 57px;
  }

  .faq-list__item {
    padding-top: 26px;
    padding-bottom: 29px;
  }

  .faq-list__item:first-child {
    padding-top: 42px;
    padding-bottom: 28px;
  }

  .faq-list__link {
    font-size: 20px;
    line-height: 1.6;

    transform: translate(0px, -4px);
  }

  .btn-plus {
    margin-left: 92px;
  }

  /* Footer */
  .footer__col-form {
    padding-top: 16px;
  }

  .footer-col__title {
    margin-bottom: 28px;
  }

  .form-control__group {
    margin-left: 24px;
  }
}

@media (max-width: 900px) {

  /* Footer */
  .container-footer {
    flex-direction: column-reverse;
    align-items: center;
  }

  .form-control__group {
    margin-left: 25px;
  }

  .footer__col-nav {
    margin-top: 23px;
    padding-left: 0;
    align-items: center;
  }

  .footer-col__list {
    display: none;
  }

  .form-control__label {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}

@media (min-width: 768px) and (max-width: 768px) {
  .section__title {
    letter-spacing: -1px;
    white-space: nowrap;
  }
}

@media (max-width: 768px) {
  
  .swiper-container {
    margin-left: -50px;
    margin-right: -50px;
  }

  /* Header */
  .header {
    height: 69px;
  }

  .header__nav {
    max-width: 300px;
    padding-left: 0;
  }

  .burger-item {
    padding-left: 50px;
  }

  .header-list {
    align-self: center;
    padding-left: 0;
  }

  /* Intro */
  .intro {
    height: 699px;
    padding-top: 191px;
    padding-left: 49px;
    padding-right: 21px;
    padding-bottom: 114px;

    background-image: url(../images/low-angle-photo-of-balconies-2462015-768w-1x.jpg);
  }

  .intro__content {
    width: 100%;

    left: 0;
    top: 0;
  }

  /* About */
  .about__slider {
    height: 650px;
    margin-bottom: 40px;

    background-image: url(../images/Rectangle2-768w-1x.jpg);
  }

  .about-slider__footer {
    padding: 22px 30px 23px 29px;
  }

  .about-footer__btn {
    margin-left: 33px;
  }

  .about-article {
    padding-top: 37px;
    padding-right: 37px;
    padding-bottom: 35px;
    padding-left: 31px;
  }

  .about-article__logo {
    width: 80px;
    height: 80px;
    margin-top: 17px;
  }

  .package {
    width: 79px;
    height: 88px;
  }

  .settings {
    width: 81px;
    height: 80px;
  }

  .about-article__content {
    margin-left: 67px;
  }

  /* Work */
  .work__list {
    width: initial;
    justify-content: space-between;
    margin-bottom: 45px;
  }

  .work-list__btn {
    padding-top: 24px;
  }

  .work__inner {
    flex-direction: column-reverse;
  }

  .work-inner__photo {
    max-width: 100%;
    padding-top: 0;
    margin-left: 0;
    margin-bottom: 42px;
  }

  .work-inner__content {
    width: 100%;
  }

  /* Faq */
  .section.section-faq {
    padding-top: 60px;
    padding-bottom: 59px;
  }

  .faq__list {
    margin-top: 39px;
  }

  .faq-list__item:first-child {
    padding-top: 38px;
    padding-bottom: 21px;
  }

  .faq-list__item {
    padding-top: 26px;
    padding-bottom: 23px;
  }

  .faq-list__item:nth-child(3) .btn-plus {
    margin-left: 144px;
  }

  .faq-list__link {
    transform: translate(0px, -3px);
}

  .btn-plus {
    margin-left: 104px;
  }

  /* Footer */
  .container-footer {
    align-items: flex-start;
  }

  .form-control__label {
    margin-top: 0;
    margin-bottom: 0;
  }

  .footer__col-nav {
    margin-top: 58px;
  }

  .footer-nav__link {
    margin-bottom: 16px;
  }
}

@media (max-width: 635px) {

  .swiper-container {
    margin-left: auto;
    margin-right: auto;
  }

  .section {
    padding-top: 40px;
  }

  .section__title {
    font-size: 24px;
    margin-bottom: 5px;
  }

  .section__description {
    font-size: 14px;
  }

  .container {
    padding: 0 15px;
  }

  .btn {
    padding: 11px 14px;
    width: 162px;
    height: 40px;

    font-size: 12px;
  }

  /* Header */
  .header {
    height: 45px;
  }

  .header__container {
    flex-direction: row-reverse;
  }

  .header__nav {
    max-width: 200px;
    
    left: initial;
  }

  .header__nav.show {
    align-items: flex-end;
    right: 0;
  }

  .burger-item {
    padding-left: 0;
    padding-right: 15px;
  }

  .header-list {
    padding-top: 20px;
  }

  .header-list__item:not(:last-child) {
    margin-bottom: 15px;
  }

  .header-list__link {
    font-size: 16px;
  }

  .burger-menu.is-active {
    padding-left: 3px;
    padding-right: 0;
  }

  .burger-menu__item,
  .menu-closed__item,
  .menu-closed__item::after {
    width: 25px;
  }

  .burger-menu.is-active .burger-menu__item {
    width: 22px;
  }

  .burger-menu__item::before,
  .burger-menu__item::after {
    width: 25px;

    right: 0;
    left: initial;
  }

  .burger-menu.is-active .burger-menu__item::after  {
    width: 18px;
  }

  .btn-search {
    display: none;
  }


  /* Intro */
  .intro {
    height: 245px;
    margin: 0;
    padding: 0;
  }

  .intro__content {
    padding-left: 24px;
    padding-right: 24px;
    text-align: center;
  }

  .intro__title {
    font-size: 20px;
    margin-bottom: 6px;
  }

  .intro__description {
    font-size: 12px;
    font-weight: 500;
  }

  .intro-content__btn {
    margin-top: 34px;
  }

  /* About */
  .about {
    margin-top: 5px;
  }

  .about__slider {
    height: 200px;
    margin-bottom: 0;
  }

  .about-slider__footer {
    display: none;

    margin-top: 8px;
    padding: 0;
    flex-direction: column;
    align-items: initial;

    background: none;
    backdrop-filter: initial;

    position: initial;
  }

  .about-slider__footer.mobile {
    display: flex;
    margin-bottom: 40px;
  }

  .about-footer__description {
    color: var(--mainColor);
    font-weight: 400;
  }

  .about-footer__btn {
    margin-top: 8px;
    margin-left: 0;
    border: 2px solid var(--orange);

    color: var(--orange);
  }

  .about-footer__btn:focus,
  .about-footer__btn:hover {
    color: #fff;
  }

  .about-article {
    padding: 0;
    flex-direction: column;
    align-items: initial;
    border: none;
  }

  .about-article:first-child {
    margin-bottom: 17px;
  }

  .about-article__logo .package {
    top: -20%;
  }

  .about-article__content {
    margin-top: 13px;
    margin-left: 0;
  }

  .article__title {
    font-size: 18px;
    font-weight: 500;
    line-height: var(--sublh);
  }

  .article__description {
    font-size: 14px;
  }

  .about-article__logo {
    width: 43px;
    height: 43px;
    margin-top: 0;
  }

  .package {
    width: 43px;
    height: 48px;
  }

  .settings {
    width: 45px;
    height: 45px;
  }

  /* Work */
  .work__list {
    margin-bottom: 20px;
  }

  .work-list__btn {
    font-size: 14px;
  }

  .work-list__item:not(:last-child) {
    margin-right: 44px;
  }

  .work__inner {
    flex-direction: column-reverse;
  }

  .work-inner__photo {
    margin-left: 0;
    padding-left: 0;
    width: 100%;
  }

  .work-inner__content {
    width: 100%;
    margin-top: 10px;
  }

  .work-inner__control {
    flex-direction: row;
  }

  .work-inner__btn {
    width: 118px;
    margin-left: 10px;
    margin-top: 0;
  }

  /* Faq */
  .section.section-faq {
    padding-top: 40px;
  }

  .section-faq {
    padding-bottom: 39px;
  }

  .faq-list__item {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .faq-list__link {
    font-size: 14px;
    font-weight: 500;
    line-height: 2;
  }

  .btn-plus {
    margin-left: 30px;
  }

  .faq-list__item:nth-child(3) .btn-plus {
    margin-left: 30px;
  }

  .plus-icon {
    width: 30px;
    height: 30px;
  }

  .plus-icon::before,
  .plus-icon::after {
    width: 1px;
    height: 18.5px;
  }

  .faq-list__content {
    font-size: 12px;
  }

  /* Footer */
  .container-footer {
    flex-direction: column-reverse;
    align-items: initial;
    padding-top: 40px;
    padding-bottom: 25px;
  }

  .footer-col__title {
    font-size: 24px;
    margin-bottom: 24px;
  }

  .form__input,
  .form__textarea {
    padding: 13px 20px;

    font-size: 14px;
  }

  .form__input::placeholder,
  .form__textarea::placeholder {
    font-size: 14px;
  }

  .form__control {
    flex-direction: column;
    border-bottom: 1px solid #595959;
  }

  .form-control__btn.btn--long {
    width: 180px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .form-control__group {
    margin-top: 11px;
    margin-left: 0;
    margin-bottom: 25px;
  }

  .form-control__label {
    margin-top: 0;
    margin-bottom: 0;
  }

  .footer-col__social.footer-col__social--mobile {
    margin-top: 16px;
  }

  .footer-col__link:not(:last-child) {
    margin-right: 14.5px;
  }

  .footer-col__icon {
    width: 34.4px;
    height: 34.4px;
  }
}

@media (max-width: 320px) {

  .section__title {
    margin-bottom: 2px;
  }

  /* Header */
  .burger-menu__item::before {
    top: -8px;
  }

  .burger-menu__item::after {
    top: 8px;
  }

  /* Intro */
  .intro {
    height: 262px;
    background-image: url(../images/intro-320w.jpg);
  }

  .intro__content {
    top: -4px;
  }

  .intro-content__btn {
    margin-top: 35px;
  }

  /* About */
  .about {
    margin-top: 11px;
  }

  .about__slider {
    background-image: url(../images/Rectangle2-320w.jpg);
  }

  .about-footer__description {
    font-size: 14px;
  }

  .about-footer__btn {
    margin-top: 10px;
  }

  .about-slider__footer.mobile {
    margin-bottom: 47px;
  }

  .about-article:first-child {
    margin-bottom: 34px;
  }

  /* Work */
  .section-work {
    padding-top: 49px;
  }

  .work {
    margin-top: 33px;
  }

  .work-list__btn {
    padding-top: 0;
  }

  .work__list {
    margin-bottom: 15px;
  }

  .work-inner__photo {
    margin-bottom: 12px;
  }

  .work-inner__content {
    margin-top: 0;
  }

  .work-inner__control {
    margin-top: 18px;
  }

  /* Faq */
  .section.section-faq {
    padding-bottom: 38px;
  }

  .faq__list {
    margin-top: 16px;
  }

  .faq-list__link {
    line-height: 1.6;
  }

  .accordion .ui-accordion-header {
    padding-top: 25px;
    padding-bottom: 22px;
  }

  .accordion .ui-accordion-header:first-child {
    padding-top: 21px;
  }

  .accordion .ui-accordion-header:nth-child(3) .btn-plus {
    margin-left: 40px;
  }

  /* Footer */
  .footer__col-form {
    padding-top: 0;
  }

  .form__input, .form__textarea {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .form__group {
    margin-bottom: 28px;
  }

  .form__control {
    margin-top: 0;
  }

  .footer__col-nav {
    margin-top: 22px;
  }
}
